
@charset "utf-8";

html { 
  background-image: linear-gradient(to left, blue, red); 
  background-size: cover;
  background-poisition: center;
}

.link_underline{
text-decoration: none;
}

img{
  display: block;
  margin: 0 auto;
  width: auto;
}

h1{
color: white;
font-size: 40pt;
font-family: Berlin Sans FB Demi;
text-align: center;
text-decoration: none;
border-bottom: none;
outline: none;
  
}

p{
color: white;
font-size: 28pt;
font-family: Cooper Black;
text-align: center;
}


h2{
color: white;
font-size: 35pt;
font-family: Berlin Sans FB Demi;
text-align: center;
text-decoration: none;
border-bottom: none;
outline: none;
}

a{
color: white;
border-bottom: none;
text-decoration: none;
outline: none;
}
h1#principal{
  font-size: 16pt;
  font-family: Arial;
  color: red;
}

p#secundario{
  font-size: 20;
  font-family: Verdana;
  color: blue;
}
