@CHARSET'UTF-8';

body { background-image: linear-gradient(to left, red, purple, Blue); }

img {
  display: block;
  margin: 0 auto;
  width: auto;
}

h1 {
backgrand-color: gray ;
color: White ;
font-size: 40pt;
fot-family: Berlin Sans FB Demi;
.container {
  text-align: center;
  
  border: 1px solid;
}
}

p {
backgrand-color: gray ;
color: White ;
font-size: 30pt;
fot-family: Cooper Black;
.container {
  text-align: center;
  
  border: 1px solid;
}
}
