
@CHARSET'UTF-8';

body { background-image: linear-gradient(to left, red, purple, Blue); }

img {
  display: block;
  margin: 0 auto;
  width: auto;
}

h1 {
backgrand-color: gray ;
color: White ;
font-size: 40pt;
fot-family: Berlin Sans FB Demi;
text-align: center;
  
}



p  {
backgrand-color: gray ;
color: White ;
font-size: 28pt;
fot-family: Cooper Black;
text-align: center;
}


h2 {
backgrand-color: white ;
color: White ;
font-size: 35pt;
fot-family: Berlin Sans FB Demi;
text-align: center;
border-bottom: none;  
}
